.mainContent {
    margin-left: 250px; /* Adjust this value according to your sidebar width */
    padding: 20px;
}

.dashboardTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.cardMarginBottom {
    left: 2500;
margin: 0 -10px 0 -100px;
}

.testimonialRow {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardTestimonial {
    height: auto;
    padding: 20px;
    margin: 40px 140px 0 -200px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.imgTestimonial {
    width: 70%;
    height: auto;
    padding: 20px;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .mainContent {
        margin-left: 0;
        padding: 10px;
    }
    .imgTestimonial {
        padding: 10px;
    }
}
