.containerprofile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}

.photoProfile {
  flex: 1;
  text-align: center;
  margin-left: 15%; /* Geser photo profile ke kanan */
}

.profileImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan pada placeholder gambar */
  cursor: pointer; /* Ubah cursor saat gambar diklik */
}

.mainContent {
  flex: 1;
  background-color: #f8f9fa; /* Warna latar belakang untuk kontras */
  padding: 20px; /* Tambahkan padding */
  border-radius: 10px; /* Tambahkan border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
  margin-left: 37%; /* Geser main content ke kanan */
  position: relative;
  top: -190px; /* Geser main content lebih ke atas */
  width: 100%; /* Sesuaikan lebar main content */
}

.inputShadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.passwordGroup {
  position: relative;
}

.passwordToggleIcon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
