.bodyPembayaranUang{
    font-family: Helvetica, sans-serif;
}
.customModal {
    max-width: 400px; /* Set max-width for the modal */
  }
  
  .paymentMethod {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;  /* Ensures space between label and radio button */
  }
  
  .radioInput {
    margin-left: auto;  /* Automatically pushes radio button to the right */
    position: relative;
  }
  
  .paymentLabel {
    font-weight: 600px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .paymentImage {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .paymentTitle {
    margin-top: -10px;
    font-size: 15px;
    font-weight: bold;
  }

  .paymentDetailsTitle {
    margin-left:   15px;
    margin-top: -20px;
    font-size: 15px;
    font-weight: bold;
  }

  .paymentDetailsContent {
    margin-right:   15px;
    font-size: 13px;
    color: #555;
  }
  
  .paymentDetailsContent {
    text-align: left;
    margin-right:   15px;
  }

  .paymentDetailsContent1{
    color:black;
    font-size: 13px;
    margin-right:   15px;
  }
  
  .paymentAmountRight {
    display: flex;
    justify-content: space-between;
  }

  .paymentDetailsFirst {
    margin-left: 15px; /* Adjust the value as needed */
  }
  /* Custom styling for radio input */
  .custom-control-input ~ .custom-control-label::before {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    background: #fff;  /* White before click */
    content: '';
  }
  
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #f8b22d;  /* Color after click */
    border-color: #f8b22d;
  }
  
  .custom-control-input ~ .custom-control-label::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    content: '';
    background: transparent;
  }


.buttonPembayaran{
    width: 100%;
}
  