.bg-white {
    background-color: white;
  }
  
  .detail-blog-landing {
    position: relative;
    min-height: 80vh;
  }
  
  .content-container {
    margin-top: -180px;
    margin-bottom: 50px;
    margin-left: 45px;
    margin-right: 45px;
  }
  
  .title {
    font-weight: bold;
  }
  
  .date-category {
    margin-bottom: 20px;
  }
  
  .blog-pic {
    width: 100%; 
    display: block; 
    margin: 0 auto; 
  }
  
  .blog-content {
    margin-bottom: 0;
  }
  