.container {
    background-color: #f7f3e8; /* Warna latar belakang seperti contoh */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .label {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitButton {
    background-color: #ffcc00; /* Warna tombol simpan */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .toggleButton{
    border: none;
  }

  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .passwordInput {
    position: relative;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .placeholderContainer {
    position: relative;
  }
  
  .toggleButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .toggleButton svg {
    width: 20px;
    height: 20px;
    fill: #f7f3e8; 
  }

  
  .submitButton {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f8b22d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color:white;
    color:#f8b22d;
  }
  