.containerprofile {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px; */
  /* margin-left: 10rem; */
  /* padding-left: 10rem; */
  /* margin: 2rem 0 0 0 ; */
  padding: 2rem 0 0 0;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 13rem;
}

.photoProfile {
  /* flex: 1; */
  /* text-align: center; */
  /* width: 35%; */
  /* display: flex; */
  /* justify-content: space-; */
  padding: 0 2rem;
}

.photoProfile h3 {
  font-weight: 650;
  text-align: center;
}

.profileImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan pada placeholder gambar */
  cursor: pointer; /* Ubah cursor saat gambar diklik */
  margin: 2rem 0 0 0;
}

.formProfile {
  background-color: #ffffff; /* Warna latar belakang untuk kontras */
  padding: 20px;
  margin: 3rem 0;
  border-radius: 10px; /* Tambahkan border radius */
  width: 65%; /* Sesuaikan lebar main content */
  display: flex;
  justify-content: start;
}

.form {
  width: 100%;
}

.inputShadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.passwordGroup {
  position: relative;
}

.passwordToggleIcon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
