.container {
  /*margin-top: -10rem;
  margin-bottom: 50px;

  padding: 3rem;
  border-radius: 0.25rem;
  *//*margin-left: auto;
  *//*margin-right:10rem;
  */margin: 10px;
  padding: 3rem;
  background-color: #f7f3e8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.cardImg {
  max-width: 100%;
  margin: 0 auto;
}

.eventInfo {
  font-size: 15px;
}

.eventInfo p {
  margin-bottom: 0.5rem;
}

.eventInfo strong {
  font-weight: bold;
}

.eventInfo span {
  margin-left: 12px;
}
